<% @categories.each do |c| %>
  <div>
    <h3><%= c.name%></h3>
    <ul>
    <% c.shoes.each do |shoe| %>
       <li><%= link_to(shoe.brand_and_color, shoe_path(shoe.id))  %></li>
    <% end %>
    </ul>
  </div>
<% end %>
